@font-face {
	font-family: "Raleway";
	font-display: fallback;

	src: url("./Raleway.eot?iefix") format("embedded-opentype"),
		url("./Raleway.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}
